/** Typography **/
html,
body {
    letter-spacing: normal !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

.text-size-xsmall {
    font-size: 0.625rem !important;//10px
}

.text-size-small {
    font-size: 0.75rem !important;//12px
}

.text-size-medium {
    font-size: 0.875rem !important;//14px
}

.text-size-large {
    font-size: 1rem !important;//16px
}

.text-weight-300 {
    font-weight: 300 !important;
}

.text-weight-400 {
    font-weight: 400 !important;
}

.text-weight-500 {
    font-weight: 500 !important;
}

.text-weight-600 {
    font-weight: 600 !important;
}

.text-weight-700 {
    font-weight: 700 !important;
}

.text-weight-800 {
    font-weight: 800 !important;
}
.text-weight-900 {
    font-weight: 900 !important;
}
.text-uppercase {
    text-transform: uppercase !important;
}
.text-normal {
    text-transform: none !important;
}

.ion-color-facebook {
    --ion-color-base: var(--ion-color-facebook);
    --ion-color-base-rgb: var(--ion-color-facebook-rgb);
    --ion-color-contrast: var(--ion-color-facebook-contrast);
    --ion-color-contrast-rgb: var(--ion-color-facebook-contrast-rgb);
    --ion-color-shade: var(--ion-color-facebook-shade);
    --ion-color-tint: var(--ion-color-facebook-tint);
}

.ion-color-google {
    --ion-color-base: var(--ion-color-google);
    --ion-color-base-rgb: var(--ion-color-google-rgb);
    --ion-color-contrast: var(--ion-color-google-contrast);
    --ion-color-contrast-rgb: var(--ion-color-google-contrast-rgb);
    --ion-color-shade: var(--ion-color-google-shade);
    --ion-color-tint: var(--ion-color-google-tint);
}

ion-app,
ion-content,
ion-grid,
ion-row,
ion-col,
ion-button {
    letter-spacing: normal !important;
}

ion-header ion-toolbar {
    --min-height: 32px !important;

    ion-buttons {
        min-height: 26px;

        ion-button {
            height: 24px !important;
            @extend .text-size-small;
            @extend .text-normal; 
            @extend .text-weight-500;
        }
    }

    ion-title {
        @extend .text-weight-700;
        @extend .text-size-medium;

        &.long-title {
            padding-left: 44px;
            padding-right: 44px;
        }
    }
}

.error-message {
  color: red;
  margin-left: 10px;
  margin-top: 10px;
  @extend .text-size-small;
}

.btn-full-footer {
    --border-radius: 0;
    --box-shadow: none;
    --color: #fff;
    margin: 0;

    &.btn-transparent {
        --background: rgba(0,0,0,0.6);
    }
}

ion-content {
    &.fullscreen-bg {
        --background: url(https://i.picsum.photos/id/1019/5472/3648.jpg) no-repeat center/cover fixed;
        --color: #fff;
    }
}

/** FORMS **/

form {
    ion-item {
        @extend .text-size-medium;
        --padding-start: 8px;
        --padding-end: 8px;
        --min-height: 36px;
        --inner-padding-end: 8px;

        ion-icon {
            &[slot="start"] {
                margin: 6px 0 6px 0;
                margin-inline-end: 8px;
            }
        }

        ion-input {
            --padding-bottom: 4px !important;
            --padding-top: 4px !important;
        }
    }
}

.full-white-box {
    margin-top: 1rem;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #fff;

    ion-item {
        --ion-item-background: #fff;
    }
}