<ion-content [fullscreen]="true" class="fullscreen-bg">
  <ion-grid style="height: 100%">
    <ion-row class="ion-align-items-center ion-justify-content-center ion-text-center" style="height: 100%; flex-direction: column">
      <ion-col size="8" size-sm="6" size-md="4">
        <ion-thumbnail class="logo">
          <ion-img [src]="'https://via.placeholder.com/100?text=Quizii'"></ion-img>
        </ion-thumbnail>
        <h1>Quizii</h1>
        <p class="ion-no-margin text-size-medium text-weight-500">We recommend using Facebook or Google so you can play against your friends</p>

        <ion-button expand="full" color="facebook" class="text-size-small text-weight-600 text-normal">
          <ion-icon slot="start" src="https://api.iconify.design/ion-logo-facebook.svg"></ion-icon>
          Login in with Facebook
        </ion-button>
        <ion-button expand="full" color="google" class="text-size-small text-weight-600 text-normal">
          <ion-icon slot="start" name="logo-google"></ion-icon>
          Login in with Google
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
