html,
body {
    letter-spacing: normal !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

ion-app,
ion-content,
ion-grid,
ion-row,
ion-col,
ion-button {
    letter-spacing: normal !important;
}

.text-size-xsmall {
    font-size: 0.625rem !important;//10px
}

.text-size-small {
    font-size: 0.75rem !important;//12px
}

.text-size-medium {
    font-size: 0.875rem !important;//14px
}

.text-size-normal {
    font-size: 1rem !important;//16px
}

.text-size-large {
    font-size: 1.125rem !important;//18px
}

.text-weight-300 {
    font-weight: 300 !important;
}

.text-weight-400 {
    font-weight: 400 !important;
}

.text-weight-500 {
    font-weight: 500 !important;
}

.text-weight-600 {
    font-weight: 600 !important;
}

.text-weight-700 {
    font-weight: 700 !important;
}

.text-weight-800 {
    font-weight: 800 !important;
}
.text-weight-900 {
    font-weight: 900 !important;
}
.text-uppercase {
    text-transform: uppercase !important;
}
.text-normal {
    text-transform: none !important;
}