<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>180578467477-pqrq1camaugkeib8q01btnc70cjdh1ru.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.180578467477-pqrq1camaugkeib8q01btnc70cjdh1ru</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>180578467477-i63o3j5tif7vhrhnqjttu71bb2bfe762.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCQ0oIUSkXWPA1LFpoGk0eJng-NLGG2x6s</string>
	<key>GCM_SENDER_ID</key>
	<string>180578467477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.app.quizii</string>
	<key>PROJECT_ID</key>
	<string>quiziiapp</string>
	<key>STORAGE_BUCKET</key>
	<string>quiziiapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:180578467477:ios:226fd17c63aa557f06a59c</string>
	<key>DATABASE_URL</key>
	<string>https://quiziiapp.firebaseio.com</string>
</dict>
</plist>